.page-top {
  display: flex;
  justify-content: center;
}

@media (min-width: 300px) {
  div {
    width: 100%;
  }
}

/* #home {
  display: flex;
  justify-content: center;
} */

#social_vertical {
  position: fixed;
}

#social_vertical {
  left: 28px;
  top: 40%;
}


#social_vertical > a:hover {
  color: gray !important;
  text-decoration: none;
}

@media (min-width: 300px), (min-width: 576px) {
  #social_vertical {
    display: none;
  }
}

@media (min-width: 768px) {
  #social_vertical {
    display: block;
  }
}


@media (min-width: 300px), (min-width: 576px) {
  #projects {
    display: none;
  }
}

@media (min-width: 768px) {
  #projects {
    display: block;
  }
}


@media (min-width: 300px), (min-width: 576px) {
  #titleHeader2 {
    width: 250px;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  #titleHeader2 {
    width: 423px;
    font-size: 23px;
  }
}

@media (min-width: 300px), (min-width: 576px) {
  #titleHeader3 {
    width: 250px;
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  #titleHeader3 {
    width: 423px;
    font-size: 15px;
  }
}

@media (min-width: 300px), (min-width: 576px) {
  #headingbutton1 {
    margin-top: 50px;
    display: none;
    border-width: 1px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  #headingbutton1 {
    margin-top: 5px;
    display: block;
    justify-content: center;
    border-width: 1px;
  }
}

@media (min-width: 300px), (min-width: 576px) {
  #headingbutton2 {
    margin-top: 50px;
    display: block;
    border-width: 1px;
    margin-right: 75px;
  }
}

@media (min-width: 768px) {
  #headingbutton2 {
    margin-top: 5px;
    display: block;
    border-width: 1px;
  }
}

@media (min-width: 300px), (min-width: 576px) {
  #subtext {
    text-align: 50px;
    width: 250px;
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  #subtext {
    width: 423px;
    float: none;
    font-size: 15px;
    padding-left: 0px;
  }
}


@media (min-width: 576px) {
  #phoneline {
    width: 576px;
  }
}

@media (min-width: 300px) {
  #phoneline {
    width: 415px;
    margin-bottom: -100px;
  }
}

@media (min-width: 768px) {
  #phoneline {
    display: none;
  }
}

@media (min-width: 300px), (min-width: 576px) {
  #webline {
    display: none;
  }
}

@media (min-width: 768px) {
  #webline {
    display: block;
  }
}

@media (min-width: 300px), (min-width: 576px) {
  #toptext {
    text-align: left;
    width: 250px;
  }
}

@media (min-width: 768px) {
  #toptext {
    text-align: left;
    width: 423px;
  }
}

@media (min-width: 300px) {
  #headerboxphone {
    width: 375px;
  }
}

@media (min-width: 768px) {
  #verticalline {
    margin-left: 22px;
  }
}

@media (min-width: 992px) {
  #verticalline {
    margin-left: 33px;
  }
}


@media (min-width: 300px) {
  #titleHeader {
    margin-left: 75px;
    width: 182px;
    font-size: 35px;
  }
}

@media (min-width: 768px) {
  #titleHeader {
    width: 230px;
    font-size: 50px;
    text-align: left;
    margin-left: 116px;
}


.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #c0c0c0;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: rgb(226, 226, 226);
  margin-bottom: 0;
}

@media (max-width:767px) {
  .copyright {
    display: block;
  }
}

@media (max-width:300px, max-width:567px) {
  .copyright {
    display: none;
  }
}

