.icon-doc {
  test: test;
}


@media (min-width: 300px) {
  div {
    width: 375px;
  }
}

#social_vertical {
  position: fixed;
}

#social_vertical {
  position: absolute;
  left: 28px;
  top: 40%;
}

#social_vertical > a:hover {
  color: gray !important;
  text-decoration: none;
}

@media (min-width: 300px), (min-width: 576px) {
  #social_vertical {
    display: none;
  }
}

@media (min-width: 768px) {
  #social_vertical {
    display: block;
  }
}

#social_vertical {
}

@media (min-width: 300px), (min-width: 576px) {
  #projects {
    display: none;
  }
}

@media (min-width: 768px) {
  #projects {
    display: block;
  }
}


@media (min-width: 300px), (min-width: 576px) {
  #titleHeader2 {
    width: 250px;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  #titleHeader2 {
    width: 423px;
    font-size: 23px;
  }
}


@media (min-width: 300px), (min-width: 576px) {
  #headingbutton {
    display: none;
  }
}

@media (min-width: 300px), (min-width: 576px) {
  #subtext {
    text-align: 50px;
    width: 250px;
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  #subtext {
    width: 423px;
    float: none;
    font-size: 15px;
    padding-left: 0px;
  }
}

@media (min-width: 768px) {
  #headingbutton {
    display: block;
  }
}

@media (min-width: 768px) {
  #phoneicons {
    display: none;
  }
}

@media (min-width: 300px) {
  #phoneicons {
    text-align: center;
    width: 375px;
  }
}

@media (min-width: 576px) {
  #phoneline {
    width: 576px;
  }
}

@media (min-width: 300px) {
  #phoneline {
    width: 415px;
  }
}

@media (min-width: 768px) {
  #phoneline {
    display: none;
  }
}

@media (min-width: 300px), (min-width: 576px) {
  #webline {
    display: none;
  }
}

@media (min-width: 768px) {
  #webline {
    display: block;
  }
}

@media (min-width: 300px), (min-width: 576px) {
  #toptext {
    text-align: left;
    width: 250px;
  }
}

@media (min-width: 768px) {
  #toptext {
    text-align: left;
    width: 423px;
  }
}

@media (min-width: 300px) {
  #headerboxphone {
    width: 375px;
  }
}

@media (min-width: 576px) {
  #phoneicons {
    margin-left: 8px;
    width: 490px;
  }
}

@media (min-width: 768px) {
  #verticalline {
    margin-left: 22px;
  }
}

@media (min-width: 992px) {
  #verticalline {
    margin-left: 33px;
  }
}

@media (min-width: 768px) {
  #titleHeader {
    width: 225px;
    font-size: 50px;
    text-align: left;
    margin-left: 116px;
  }
}

@media (min-width: 576px) {
  #titleHeader {
    margin-left: 143px;
    width: 225px;
    font-size: 50px;
    text-align: left;
  }
}

@media (min-width: 300px) {
  #titleHeader {
    margin-left: 75px;
    width: 185px;
    font-size: 35px;
  }


.social-icons {
  color: #d1d1d1;
  background-color: #fff;
  text-align: center;
  padding: 70px 0;
}

@media (max-width:767px) {
  .social-icons {
    padding: 50px 0;
  }
}

.social-icons i {
  font-size: 32px;
  display: inline-block;
  color: #dbdbdb;
  margin: 0 10px;
  width: 60px;
  height: 60px;
  border: 1px solid #c8ced7;
  text-align: center;
  border-radius: 50%;
  line-height: 60px;
}

.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #c0c0c0;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: rgb(226, 226, 226);
  margin-bottom: 0;
}

@media (max-width:767px) {
  .copyright {
    display: block;
  }
}

@media (max-width:300px, max-width:567px) {
  .copyright {
    display: none;
  }
}